body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
    background-color: #fff;
  }
  main {
    margin-bottom: 0%;
  }

  h1 {
    font-family: Space Mono;
    font-size: 50px;
    padding-left: 5rem;
    color: #ff0000;
    text-decoration: underline;
  } 

  h2{
    font-family: Space Mono;
    font-size: 20px;
    padding-top: -40;
    color: #000;
    
  }

  .heading1{
    text-decoration: none;
    color:#000
  }

  .heading1:hover{
    text-decoration: none;
    color: #00ff00;
  }

    .colored{
  color: #ff0000;
    }

  .colored:hover{
    color: #00ff00;
      }

  
  figure{
    padding:0%;
    margin: 0%;
  }
  figcaption{
    color: #ff0000;
    font-style: italic;
    font-size: 10px;
  }

  time{
    color: #ff0000;
    font-style: italic;
    font-size: 15px;
  }

  .floating-menu {
    
    padding: 5px;;
    width: 300px;
    z-index: 100;
    position: fixed;
  }
  .floating-menu a, 
  .floating-menu h3 {
    font-size: 2rem;
    display: block;
    margin: 0 0.5em;
    color: #000;
  }


  .row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4rem;
    padding: 1rem;
    padding-left: 5rem;
    padding-right: 5rem;
    
  }

  .row a{
    font-family: Space Mono;
    font-size: 60px;
    color: #0000ff;
    padding-bottom: 0rem;
    text-decoration: none;
  }

  .row a:hover{
    font-family: Space Mono;
    font-size: 60px;
    color: #00ff00;
    padding-bottom: 0rem;
    text-decoration: none;
  } 
  .column-1{
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    flex: 1;
  }
  .column-2{
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    flex: 1;
  }
  .column-3{
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    flex: 1;
  }
  .column-4{
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    flex: 1;
  }


  iframe {
    margin: 0;
    padding: 0;
    width: 100%;
    height: flex;
    display:inline-flex;
    border: #fff;
  }
  
  img{
    margin: 0;
    padding: 0;
    width: 100%;
    height: flex;
    display:inline-flex;
  
  }

  hr{
    border-top: 2px dotted;
    color: #ff0000;
    
  }
