body {
    font-family: "Helvetica";
    font-size: 16px;
    
    
  }

  a{
      font-style: normal;
  }

  body {
    background: #FFF2ED;
  }

  h1 {
  font-size: 5rem;
  
  color: #F20530;
  line-height: 1.15rem;
}

    h2 {
        font-size: 5rem;
        
        color: #F2A7D0;
        line-height: 1.15rem;
    }

    h3{
        font-size: 5rem;
        
        color: #F28888;
        line-height: 1.15rem;
    }